# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [ ]:
# запуск презентации
!jupyter nbconvert Python_10_pandas_presentation_mode.ipynb --to slides --post serve

In [6]:
import pandas as pd

In [21]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ml-25m/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [23]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

59047

In [24]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

Wall time: 770 ms

        movieId  rating  timestamp
userId
72315     32202   32202      32202
80974      9178    9178       9178
137293     8913    8913       8913
33844      7919    7919       7919
20055      7488    7488       7488

# Lifetime

In [25]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

       movieId         rating        timestamp
           min     max    min  max         min         max
userId
1          296   32591    0.5  5.0  1147868053  1147880055
2            1   40815    0.5  5.0  1141415509  1141418008
3            1  187593    2.0  5.0  1439472199  1566091883
4            1  203519    0.5  5.0  1573937091  1574195101
5            1    1409    2.0  5.0   830786155   858628421

In [26]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId         rating        timestamp                   diff
           min     max    min  max         min         max
userId
1          296   32591    0.5  5.0  1147868053  1147880055      12002
2            1   40815    0.5  5.0  1141415509  1141418008       2499
3            1  187593    2.0  5.0  1439472199  1566091883  126619684
4            1  203519    0.5  5.0  1573937091  1574195101     258010
5            1    1409    2.0  5.0   830786155   858628421   27842266

In [27]:
ratings_grouped['diff'].mean() / 24 / 3600

221.41065851262715

In [29]:
%%time

ratings = pd.read_csv('ml-25m/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

Wall time: 6.15 s

221.41065851262715

# JOIN как в SQL

In [10]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama